- @slides.each do |slide|
  %li{:id => "slide_#{slide.id}"}
    .title
      = check_box_tag "slide_ids[]", slide.id
      = link_to "#{slide.number} #{slide.title.annotation}", [slide.slideset, slide] if slide.title
      = link_to slide.number, [slide.slideset, slide] unless slide.title
    .image
      = link_to image_tag(slide.image_url(:thumb)), [slide.slideset, slide] if slide.image?
    .functions
      = link_to 'Anzeigen', [slide.slideset, slide]
      - if slide.deleted
        - if can? :unmark_deleted, slide
          |
          =button_to 'Einblenden', unmark_deleted_slideset_slide_path(slide.slideset, slide), method: :post
      - else
        - if can? :mark_deleted, slide
          | 
          =button_to 'Ausblenden', mark_deleted_slideset_slide_path(slide.slideset, slide), method: :post
      - if can? :delete, slide
        | #{button_to 'Löschen', [slide.slideset, slide], confirm: "Sind sie sich sicher, dass sie die Folie \"#{slide.title ? slide.title.annotation : slide.number}\" endgültig löschen wollen?", method: :delete}
