<h1>Listing slides (<%= @slideset.title %>)</h1>

<%= form_tag edit_multiple_slideset_slides_path(@slideset, @slide) do %>
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Images</th>
    <th></th>
    <% if can? :edit, @slides %>
      <th></th>
    <% end %>
    <% if can? :destroy, @slides %>
      <th></th>
    <% end %>
  </tr>
<% @slides.each do |slide| %>
  <tr>
    <td><%= check_box_tag "slide_ids[]", slide.id %></td>
    <td><%= link_to slide.title.annotation, [slide.slideset, slide] if slide.title %></td>
    <td><%= link_to image_tag(slide.image_url(:thumb)), [slide.slideset, slide] if slide.image? %></td>
    <td><%= link_to 'Show', [slide.slideset, slide] %></td>
    <% if can? :edit, slide %>
      <td><%= link_to 'Edit', edit_slideset_slide_path(slide.slideset.id, slide) %></td>
    <% end %>
    <% if can? :destroy, slide %>
      <td><%= link_to 'Destroy', [slide.slideset, slide], confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<p>Annotation: <%= text_field_tag "annotation" %></p>
<%= submit_tag "Add annotation" %>
<% end %>

<br />

<% if can? :create, @slides %>

<%= form_for [@slideset, @slide_new] do |f| %>

  <p>
    <%= f.file_field :image %>
  </p>
  <p>After: <%= select_tag :slide_after, options_for_select(["first"] + @slideset.slides.map{|slide| ["#{slide.id} (#{slide.title ? slide.title.annotation : ""})", slide.id] }) %> slide</p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
<div class="footer_menu">
<%= link_to 'Back', slidesets_path %>
</div>
