<h1>Listing slides (<%= @slideset.title %>)</h1>

<%= form_tag edit_multiple_slideset_slides_path(@slideset, @slide) do %>
<ol id="slides">
<% @slides.each do |slide| %>
  <li id="slide_<%= slide.id %>">
    <div class="title">
      <%= check_box_tag "slide_ids[]", slide.id %>
      <%= link_to slide.title.annotation, [slide.slideset, slide] if slide.title %>
    </div>
    <div class="image">
      <%= link_to image_tag(slide.image_url(:thumb)), [slide.slideset, slide] if slide.image? %>
    </div>
    <div class="functions">
      <%= link_to 'Show', [slide.slideset, slide] %>
      <% if can? :edit, slide %>
        | <%= link_to 'Edit', edit_slideset_slide_path(slide.slideset.id, slide) %>
      <% end %>
      <% if can? :destroy, slide %>
        | <%= link_to 'Destroy', [slide.slideset, slide], confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </div>
  </li>
<% end %>
</ol>
<p>Annotation: <%= text_field_tag "annotation" %></p>
<%= submit_tag "Add annotation" %>
<% end %>

<br />

<% if can? :create, @slides %>

<%= form_for [@slideset, @slide_new] do |f| %>

  <p>
    <%= f.file_field :image %>
  </p>
  <p>After: <%= select_tag :slide_after, options_for_select(["first"] + @slideset.slides.map{|slide| ["#{slide.id} (#{slide.title ? slide.title.annotation : ""})", slide.id] }) %> slide</p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>
<div class="footer_menu">
<%= link_to 'Back', slidesets_path %>
</div>
