%h1 Foliensatz #{@slideset.title}
= form_tag edit_multiple_slideset_slides_path(@slideset, @slide) do
  %ol#slides{ :class => ( can?(:create, @slides) ? 'sortable': '') }
    = render 'slide_list_elem'
  %p Schlagwort zu allen ausgewählten Folien hinzufügen
  %p  Schlagwort: #{autocomplete_field_tag "annotation","", autocomplete_annotation_annotation_annotations_path}
  = submit_tag "Schlagwort hinzufügen"
= link_to "Als PDF herunterladen", slideset_path(@slideset, format: 'pdf')
%br/
- if can? :create, @slides
  = form_for [@slideset, @slide_new] do |f|
    %p
      = f.file_field :image
    %p
      Nach: #{select_tag :slide_after, options_for_select([["0 Anfang", 0]] + @slideset.slides.map{|slide| ["#{slide.position} (#{slide.title ? slide.title.annotation : ""})", slide.position] })} Folie einfügen
    .actions
      = f.submit "Folie hinzufügen"
