<h1>Listing slides</h1>
<% if @slides.empty? %>
<p>Nothing found</p>
<%else %>
<table>
  <tr>
    <th>Images</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @slides.each do |slide| %>
  <tr>
    <td><%= link_to image_tag(slide.image_url(:thumb)), [slide.slideset, slide] if slide.image? %></td>
    <td><%= link_to 'Show', [slide.slideset, slide] %></td>
    <td><%= link_to 'Edit', edit_slideset_slide_path(slide.slideset, slide) %></td>
    <td><%= link_to 'Destroy', [slide.slideset, slide], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<div class="footer_menu">
<%= link_to 'Back', slidesets_path %>
</div>
