<div class="slide">
  <%= image_tag @slide.image_url(:normal) if @slide.image? %>
</div>

<div class="annotations">
<h2>Annotations</h2>

<%= form_tag set_title_slideset_slide_path(@slideset, @slide) do %>
<table>
<% @annotations.each do |annotation| %>
  <tr>
    <td><%= radio_button_tag 'annotation_id', annotation.id, annotation.slide_title %></td>
    <td><%= label_tag "annotation_id_#{annotation.id}", annotation.annotation %></td>
    <td><%= link_to 'Destroy', [@slideset, @slide, annotation], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
  <div class="actions">
    <%= submit_tag "Select as title" %>
  </div>
<% end %>




<h3>Annotations from surrounding slides</h3>
<%= form_tag copy_annotations_slideset_slide_path(@slideset, @slide) do%>
<table>
<% if @surrounding_annotations.each do |annotation| %>
  <tr>
     <td><%= check_box_tag "annotations_id[]", annotation.id %></td>
     <td><%= label_tag "annotation_id_#{annotation.id}", annotation.annotation %><td>
<% end %>
<% end %>
     </table>
  <div class="actions">
    <%= submit_tag "Add" %>
  </div>
<% end %>

<%= form_for [@slideset, @slide, @annotation_new] do |f| %>

  <div class="field">
    <%= f.label :annotation %><br />
    <%= f.autocomplete_field :annotation, autocomplete_annotation_annotation_annotations_path %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<div class="clear"/>

<div class="footer_menu">

<p>
  <% if can? :edit, @slide %>
    <%= link_to 'Edit', edit_slideset_slide_path(@slideset, @slide) %> |
  <% end %>
  <%= link_to 'Back', slideset_slides_path(@slideset) %>
</p>

<p><%= first_slide_link @slide %> | <%= previous_slide_link @slide %> | <%= next_slide_link @slide %> | <%= last_slide_link @slide %> </p>
</div>

