%h1
  = @slide.number
  - if @slide.title
    = @slide.title.annotation
.row
  .span6
    = image_tag @slide.image_url(:normal) if @slide.image?
    .center
      %p #{first_slide_link @slide} | #{previous_slide_link @slide} | #{next_slide_link @slide} | #{last_slide_link @slide}
      - if can? :edit, @slide
        %h4 Folie ersetzen
        = form_for [@slideset, @slide] do |f|
          %p
            = f.file_field :image
          .actions
            = f.submit "Folie ersetzen"
  .span6
    %h2 Schlagworte
    - if @annotations.empty?
      %p keine Schlagwort vorhanden
    - else
      = form_tag set_title_slideset_slide_path(@slideset, @slide) do
        %table#annotations.table-striped.table-bordered.table-condensed
          %tr
            %th Title
            %th Schlagwort
            %th
            - if can? :edit, @annotations
              %th
            - if can? :edit, @annotations
              %th Letzter Autor
          - @annotations.each do |annotation|
            %tr
              %td= radio_button_tag 'annotation_id', annotation.id, annotation.slide_title, title: "#{annotation.annotation} zum Titel der Folie machen"
              - if can? :edit, @annotation
                %td
                  .annotation-text
                    %i.icon-pencil
                    = annotation.annotation
              - else
                %td= label_tag "annotation_id_#{annotation.id}", annotation.annotation
              - if !can? :delete, annotation
                %td= button_to 'Löschen', mark_deleted_slideset_slide_annotation_path(@slideset, @slide, annotation), confirm: "Möchten sie die Annotation \"#{annotation.annotation}\" wirklich löschen?", method: :post
              - if can? :delete, annotation
                - if annotation.deleted
                  %td= button_to 'Einblenden', unmark_deleted_slideset_slide_annotation_path(@slideset, @slide, annotation), method: :post
                - else
                  %td= button_to 'Ausblenden', mark_deleted_slideset_slide_annotation_path(@slideset, @slide, annotation), method: :post
                %td= button_to 'Löschen', delete_slideset_slide_annotation_path(@slideset, @slide, annotation), confirm: "Möchten sie das Schlagwort \"#{annotation.annotation}\" endgütig löschen?", method: :post
                - if can? :edit, annotation
                  %td= annotation.last_author.identifier
            - if can? :edit, @annotation
              %tr{class: "annotation-admin"}
                %td
                %td{colspan:3}
                  %p Umbenennen in:
                  = autocomplete_field_tag "annotation_#{annotation.id}","", autocomplete_annotation_annotation_annotations_path
              %tr{class: "annotation-admin"}
                %td
                %td{colspan:3}
                  %ul.annotation_rename_scope
                    %li= radio_button_tag "rename_scope_#{annotation.id}", 'all'
                    %li= label_tag "rename_scope_#{annotation.id}_all", "Alles"
                    %li= radio_button_tag "rename_scope_#{annotation.id}", 'lecture' 
                    %li= label_tag "rename_scope_#{annotation.id}_lecture", "Vorlesung"
                    %li= radio_button_tag "rename_scope_#{annotation.id}", 'slideset', true
                    %li= label_tag "rename_scope_#{annotation.id}_slideset", "Foliensatz"
        .actions
          - if can? :edit, @annotation
            = submit_tag "Speichern"
          - else
            = submit_tag "Als Titel setzen"

    %h3 Schlagwort hinzufügen
    = form_tag slideset_slide_annotations_path(@slideset, @slide) do
      .field{ class: 'autoextend'}
        = autocomplete_field_tag "annotation[]","", autocomplete_annotation_annotation_annotations_path
      .actions
        = submit_tag("Schlagwort hinzufügen")

    .annotation-surrounding-head{title: "Klicken zum öffnen"}
      %i.icon-arrow-down
      Schlagworte von benachbarten Folien
    .annotation-surrounding.annotation-surrounding-hide
      = form_tag copy_annotations_slideset_slide_path(@slideset, @slide) do
        %table#annotation-surrounding.table-striped.table-bordered.table-condensed
          %tr
            %th Auswahl
            %th Schlagwort
          - @surrounding_annotations.each do |annotation|
            %tr
              %td= check_box_tag "annotations_id[]", annotation.id, false, id: "annotation_id_#{annotation.id}"
              %td= label_tag "annotation_id_#{annotation.id}", annotation.annotation
        .actions
          = submit_tag "Schlagworte hinzufügen"
