.slide
  = image_tag @slide.image_url(:normal) if @slide.image?
.annotations
  %h2 Annotations
  = form_tag set_title_slideset_slide_path(@slideset, @slide) do
    %table
      - @annotations.each do |annotation|
        %tr
          %td= radio_button_tag 'annotation_id', annotation.id, annotation.slide_title
          %td= label_tag "annotation_id_#{annotation.id}", annotation.annotation
          - if !can? :delete, annotation
            %td= link_to 'Löschen', mark_deleted_slideset_slide_annotation_path(@slideset, @slide, annotation), confirm: "Möchten sie die Annotation \"#{annotation.annotation}\" wirklich löschen?", method: :post
          - if can? :delete, annotation
            - if annotation.deleted
              %td= link_to 'Wiederherstellen', unmark_deleted_slideset_slide_annotation_path(@slideset, @slide, annotation), method: :post
            - else
              %td= link_to 'Löschen', mark_deleted_slideset_slide_annotation_path(@slideset, @slide, annotation), confirm: "Möchten sie die Annotation \"#{annotation.annotation}\" wirklich löschen?", method: :post
            %td= link_to 'endgültig Löschen', [@slideset, @slide, annotation], confirm: "Möchten sie die Annotation \"#{annotation.annotation}\" endgütig löschen?", method: :delete
        %tr
          %td{colspan:4}
            = autocomplete_field_tag "annotation_#{annotation.id}","", autocomplete_annotation_annotation_annotations_path
        %tr
          %td{colspan:4} 
            = radio_button_tag "rename_scope_#{annotation.id}", 'all'
            = label_tag "rename_scope_#{annotation.id}_all", "Alles"
            = radio_button_tag "rename_scope_#{annotation.id}", 'lecture' 
            = label_tag "rename_scope_#{annotation.id}_lecture", "Vorlesung"
            = radio_button_tag "rename_scope_#{annotation.id}", 'slideset'
            = label_tag "rename_scope_#{annotation.id}_slideset", "Foliensatz"
    .actions
      = submit_tag "Select as title"
  %h3 Annotations from surrounding slides
  = form_tag copy_annotations_slideset_slide_path(@slideset, @slide) do
    %table
      - @surrounding_annotations.each do |annotation|
        %tr
          %td= check_box_tag "annotations_id[]", annotation.id
          %td= label_tag "annotation_id_#{annotation.id}", annotation.annotation
          %td
    .actions
      = submit_tag "Add"
  %h3 Add annotations
  = form_tag slideset_slide_annotations_path(@slideset, @slide) do
    .field{ class: 'autoextend'}
      = autocomplete_field_tag "annotation[]","", autocomplete_annotation_annotation_annotations_path
    .actions
      = submit_tag("Annotation hinzufügen")
.clear
  .footer_menu
    %p
      - if can? :edit, @slide
        = link_to 'Edit', edit_slideset_slide_path(@slideset, @slide)
        |
      = link_to 'Back', slideset_slides_path(@slideset)
    %p
      = first_slide_link @slide
      \| #{previous_slide_link @slide} | #{next_slide_link @slide} | #{last_slide_link @slide}
