%ul{:id => "page_path"}
  %li= link_to 'Home', root_path
  >
  %li= link_to @lecture.title, lecture_path(@lecture)
%h1 Editing lecture
= render 'form'
= link_to 'Show', @lecture
|
\#{link_to 'Back', lectures_path}
