%h1 Foliensätze von #{@lecture.title}
%table.table-striped.table-bordered.table-condensed
  %tr
    %th Title
    %th Beschreibung
    - if can? :edit, @slidesets
      %th
    - if can? :destroy, @slidesets
      %th
    - if can? :mark_deleted, @slidesets
      %th
  - @slidesets.each do |slideset|
    %tr
      %td= link_to "#{slideset.title} (#{slideset.slides.count} Folien)", [slideset, :slides]
      %td= simple_format(slideset.description)
      - if can? :edit, slideset
        %td= link_to 'Bearbeiten', edit_slideset_path(slideset)
      - if slideset.deleted
        - if can? :unmark_deleted, slideset
          %td= link_to 'Einblenden', unmark_deleted_slideset_path(slideset), method: :post
      - else
        - if can? :mark_deleted, slideset
          %td= link_to 'Ausblenden', mark_deleted_slideset_path(slideset), method: :post
      - if can? :delete, slideset
        %td= link_to 'Löschen', slideset, confirm: "Sind sie sich sicher, dass sie #{slideset.title} endgültig löschen wollen?", method: :delete
- if can? :create, @slidesets
  %br/
  .footer_menu
    = link_to 'Neuen Foliensatz hinzufügen', new_lecture_slideset_path(@lecture, @slideset)
