<%= form_for(@slideset) do |f| %>
  <% if @slideset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slideset.errors.count, "error") %> prohibited this slideset from being saved:</h2>

      <ul>
      <% @slideset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
