= form_for(@slideset) do |f|
  .field
    = f.label :title
    %br/
    = f.text_field :title
  %h3 New Description
  %p
    = f.text_area(:description, :cols => 20, :rows => 40)
  .actions
    = f.submit
