<p id="notice"><%= notice %></p>

<%= @slideset.title %>
<br />

<%= link_to "#{@slideset.slides.count} slides", [@slideset, :slides] %>
<br />

<div class="footer_menu">
<%= link_to 'Edit', edit_slideset_path(@slideset) %> |
<%= link_to 'Back', slidesets_path %>
</div>
