<header>
  <%= link_to( image_tag("logo.png", alt: "Slide Annotator", class: "round"), root_path) %>
  <nav class="round">
    <ul>
      <li>
        <%= form_tag searchresults_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </li>
      <li><%= link_to "Slidesets", root_path %></li>
    </ul>
  </nav>
</header>
