%header.clearfix
  #header_left
    = link_to( image_tag("logo_uni_bremen.gif", alt: "Folinator"), root_path)
    %ul{:id => "page_path"}
      %li= link_to 'Folinator', root_path
      - if @lecture && @lecture.title
        %li >
        %li= link_to @lecture.title, lecture_path(@lecture)
      - if @slideset && @slideset.title
        %li >
        %li= link_to @slideset.title, slideset_slides_path(@slideset)
      - if @slide && @slide.title
        %li >
        %li= link_to @slide.title.annotation, slideset_slide_path(@slideset, @slide)
  #header_right
    #searchbox
      = form_tag searchresults_path, :method => 'post' do
        = autocomplete_field_tag :search, params[:search], autocomplete_annotation_annotation_annotations_path
        = submit_tag "Suchen", :name => nil
        %ul
          %li= radio_button_tag "search_scope", 'all', !@lecture && !@slideset
          %li= label_tag :search_scope_all, "Alles"
          - if @lecture
            %li= radio_button_tag "search_scope", 'lecture', !@slideset
            %li= label_tag :search_scope_lecture, "Vorlesung"
            %li= hidden_field_tag 'lecture_id', @lecture.id
          - if @slideset
            %li= radio_button_tag "search_scope", 'slideset', @slideset
            %li= label_tag :search_scope_slideset, "Foliensatz"
            %li= hidden_field_tag 'slideset_id', @slideset.id
    %p.logout
      - if @current_user
        = link_to "#{@current_user.identifier} ausloggen", destroy_user_session_path, :method => :delete
