%header
  #header_left
    = link_to( image_tag("logo.png", alt: "Slide Annotator", class: "round"), root_path)
    %ul{:id => "page_path"}
      %li= link_to 'Home', root_path
      - if @lecture && @lecture.title
        >
        %li= link_to @lecture.title, lecture_path(@lecture)
      - if @slideset && @slideset.title
        >
        %li= link_to @slideset.title, slideset_slides_path(@slideset)
      - if @slide && @slide.title
        >
        %li= link_to @slide.title.annotation, slideset_slide_path(@slideset, @slide)
  %nav.round
    %ul
      %li
        = form_tag searchresults_path, :method => 'post' do
          = autocomplete_field_tag :search, params[:search], autocomplete_annotation_annotation_annotations_path
          = submit_tag "Search", :name => nil
          = label_tag :search_scope_all, "Alles"
          = radio_button_tag "search_scope", 'all', !@lecture && !@slideset
          - if @lecture
            = label_tag :search_scope_lecture, "Vorlesung"
            = radio_button_tag "search_scope", 'lecture', !@slideset
          - if @slideset
            = label_tag :search_scope_slideset, "Foliensatz"
            = radio_button_tag "search_scope", 'slideset', @slideset
          = hidden_field_tag 'lecture_id', @lecture.id if @lecture
          = hidden_field_tag 'slideset_id', @slideset.id if @slideset
      %li= link_to "Slidesets", root_path
      %li= link_to "Logout", destroy_user_session_path, :method => :delete
