!!!
%html
  %head
    %title= full_title(yield(:title))
    = render 'layouts/stylesheets'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/development_bar' if development_or_test_mode?
    = render 'layouts/header'
    %section.round
      - flash.each do |key, msg|
        %p{:class => key}= msg
      #content
        = yield
    = render 'layouts/footer'
