!!!
%html
  %head
    %title= full_title(yield(:title))
    = render 'layouts/stylesheets'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/development_bar' if development_or_test_mode?
    .container
      = render 'layouts/header'
      %section.round
        - flash.each do |key, msg|
          %p{:class => key}= msg
        = yield
      = render 'layouts/footer'
